body {
    font-family: 'Arial', sans-serif;
    margin: 40px;
    background-color: #e8e5e5
}

input[type="number"], input[type="button"] {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#result {
    font-weight: bold;
    margin-top: 20px;
}
